body {
	background: #fff;
	margin:0;
	font:13px/20px Helvetica, Arial, sans-serif;
	color: #1f1f1f;
	text-align:center;
	border-top:5px solid #4fb200;
}

#wrap {
	margin:0 auto;
	width:800px;
	text-align:left;
}

#header {
	width:100%;
	height:100px;
	margin-top:20px;
}
	
	#header #l {
	float:left;
	width:100%;
	/*margin-right:250px;*/
	padding-top:50px;
	}

	#header #t {
	float:left;
	width:100%;
	/*margin-right:250px;*/
	padding-top:10px;
	}

	#header #s {
	float:left;
	width:100%;
	font-size:16px;
	color: 4f4f4f;
	font-style: italic;
	text-align: left;
	/*margin-right:250px;*/
	//padding-top:5px;
	}

	
#main {
	//margin-top:50px;
	background:url(header_bg.jpg) top center no-repeat;
	padding-top:20px;
	width:100%;
}

	
	h1 {
		font-size:22px;
		color:#2f2f2f;
		//float:left;
		//width:100%;
		//margin:0 0 7px 0;
	}
	
	h2 {
		font-size:18px;
		color:#4f4f4f;
		//float:100%;
		//width:700px;
		//margin:20px 0 7px 0;
	}
	

#footer {
	font-size:12px;
	background:url(footer_bg.jpg) top center no-repeat;
	padding-top:20px;
	padding-bottom: 20px;
	text-align:center;
	width:100%;
	color:#888;
}

	#footer a:link, #footer a:visited {
		color:#777;
	}
	
	#footer a:hover {

		color:#555;
	}

/* Miscellaneous Attributes */
a img {
	border:0;
}

.hr {
	border-top:1px solid #e2e2e2;
	height:0;
	width:100%;
}

img, div { behavior: url(iepngfix.htc) }

a:link, a:visited {
	color:#333; 
	//text-decoration:none;
}

a:hover {
	color:#225322;
}


a.commonlink {
   color:#AA4D42;
}

a.commonlink:hover {
   color:#FF4F00;
}


	#top {
		
		width:100%;
		/*height: 16px;*/
		margin: 0 0 0px 0;
		padding: 0px 0 0px 0;
		color:#444;	
		float:right;
		font-size: 10px;
	color:#888;
	}	
	#top #topi {
	     float:right;
	     margin-right: 32px;
	}
	#top #topi a{
/*		color:#BC4300;*/
	color:#888;

	}
	#top #topi a:hover{
	/*	color: #5C1300; */
	text-decoration: underline;
	}
.primitive_href {    
	color:#7b7b7b;              
	 /*     font-size:13px; */
}
.whatisnew {
	font-style: strong;
	color: #00F;
}
.invisibleref {
	color: #FFF;
}
